:root {
    --text-sm: 12px;
    --text-base: 14px;
    --text-md: 36px;
    --text-xl: 96px;
    --bg-black-1: #151A1F;
    --bg-black-2: #0D1012;
    --bg-black-3: #1F2309;
    --color-grey: #4D545E;
    --color-grey-2: #6E7681;


    --bg-yellow: #D4FF27;
}

.text-xl {
    font-size: var(--text-xl);
}

.text-base {
    font-size: var(--text-base);
}

.text-md {
    font-size: var(--text-md);
}

.text-sm {
    font-size: var(--text-sm);
}

.color-grey {
    color: var(--color-grey);
}
.color-grey-2 {
    color: var(--color-grey-2);
}

.bg-black-1 {
    background-color: var(--bg-black-1);
}

.bg-black-2 {
    background-color: var(--bg-black-2);
}

.bg-black-3 {
    color: var(--bg-black-3);
}

.bg-yellow {
    background-color: var(--bg-yellow);
}

.color-yellow {
    color: var(--bg-yellow);
}